* {
	box-sizing: border-box;
	font-size: 1em;
}

ul,
li {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

a,
a:active,
a:hover {
	color: #333333;
	text-decoration: none;
}
body {
	margin: 20px 0px 20px 0px;
	float: left;
    position: relative;
    width: 100%;
}
#search {
	float: left;
	width: 100%;
	padding: 10px;
}

#searchText {
	width: 100%;
	padding: 10px;
	float: left;
}
#stats {
	width: 100%;
	float: left;
}

#searchButton {
	float: right;
	margin: 10px;
}

.quote {
	position: relative;
	width: 100%;
	float: left;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid lightgray;
}

.quote-text {
	position: relative;
	width: 100%;
	float: left;
	text-align: justify;
	margin: 10px 0px 10px 0px;
}
.quote-author {
	position: relative;
	float: right;
	font-style: italic;
	margin: 5px 0px 5px 0px;
}

.quote-author:before {
	content: '--- ';
}

.quote-keywords {
	position: relative;
	width: 100%;
	float: left;
	padding: 2px;
	font-size: 0.8em;
	margin: 5px 0px 5px 0px;
}

.quote-keyword {
	position: relative;
	padding: 2px 4px 2px 4px;
	margin: 5px;
	border: 1px solid lightgray;
	background-color: lightgray;
	border-radius: 8px;
	float: left;
}

.quote-url {
	position: relative;
	font-size: 0.8em;
	float: left;
	color: gray;
	width: 100%;
}
.quote:hover {
	background-color: #efefef;
}

.tab {
	display: inline;
	text-align: center;
	padding: 4px 8px 4px 8px;
	margin: 5px;
	border: 1px solid lightgray;
}

.tab-active {
	font-color: bold ;
	background-color: lightgray;	
}

.tab-content {
	display: none;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 3px;
	border-top: 1px solid lightgray;
}

.tab-content-active {
	display: block;
}

#quote {
	position: relative;
	width: 100%;
	padding: 0 40px 0 40px;
	float: left;
}

.nav {
	width: 100%;
}

#previousQuote,
#nextQuote {
	text-align: center;
	position: absolute;
	top: 10px;
	width: 40px;
	z-index: 1;
}

#previousQuote {
	left: 0;
}

#nextQuote {
	right: 0px;
}

#tabs {
	display: block;
	text-align: center;
	position: relative;
}

#tabs > li {
	display: inline-block;
	text-align: center;
}

.editor,
.editor:active,
.editor:focus,
.editor:hover {
	display: inline;
	border: none;
	outline: none;
}

.editable {
	outline: 1px solid transparent;
	-moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
.success {
	outline: 1px solid #18c545;
    -moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.fail {
	outline: 1px solid red;
    -moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.dirty {
	outline: 1px solid orange;
	-moz-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

#tab-play:after {
	content: ' || ';
}

#tab-play.tab-playing:after {
	content: ' > ';
}

.controls {
	position: absolute;
	top: -13px;
	right: 10px;
	display: none;
}

.quote:hover .controls {
	display: block;
}

.control {
	position: relative;
	float: left;
	border: 1px solid black;
	border-radius: 10px;
	padding: 2px 8px 4px 8px;
	background-color: #efefef;
	margin-left: 10px;
}


.control:hover {
	font-style: bold;
}

.save {
	display: none;
}

.dirty-child .save {
	display: block;
}

.desktop .nav,
.desktop .tab,
.desktop .tab-content-search {
	visibility: hidden !important;
}

.desktop.darwin #tabs {
	margin-top: 24px; /* compensate for title bar */
}

.desktop .tab-content {
	border-top: none !important;
}

#quote .quote-text {
	font-size: 1.5em;
}

#quote .quote-author {
	font-size: 1.25em;
}