/* basic styles */ 

* {
	box-sizing: border-box;
	font-size: 1em;
}

a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/* quote styles */

.quote {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	padding: 10px;
}

.quote-text {
	text-align: justify;
}

.quote-author {
	float: right;
	font-style: italic;
	margin: 5px 0px 5px 0px;
}

.quote-author:before {
	content: '--- ';
}

.quote-keywords {
	float: left;
	width: 100%;
	font-size: 0.8em;
	padding: 2px;
	margin: 5px 0px 5px 0px;
}

.quote-keyword,
.quote-keywords .editor  {
	float: left;
	border-radius: 8px;
	padding: 2px 6px 2px 6px;
	margin: 5px 5px 0px 0px;
}

.quote-keyword {
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
}

.quote-url {
	float: left;
	margin-top: 10px;
	width: 100%;
	font-size: 0.8em;
	color: gray;
}

.quote:hover {
	background-color: #d5fbc2;
}

/* editor */

.editor,
.editor:active,
.editor:focus,
.editor:hover {
	display: inline;
	border: none;
	outline: none;
}

.editable {
	outline: 1px solid transparent;
	-moz-transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}
.success {
	outline: 1px solid #18c545;
	-moz-transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

.fail {
	outline: 1px solid red;
	-moz-transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

.dirty {
	outline: 1px solid orange;
	-moz-transition: all 0.25s ease-in;
	-webkit-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
}

/* controls */

.controls {
	position: absolute;
	top: -50px;
	padding: 20px;
	right: 10px;
	display: none;
}

.quote:hover .controls {
	display: block;
}

.control {
	display: inline-block;
	border-radius: 40px;
	padding: 10px 8px 10px 8px;
	background-color: #d5fbc2;
	margin-left: 15px;

}

.control:hover {
	font-style: bold;
	box-shadow: 0px 0px 24px 0px;
}

.icon-trash-empty:hover {
	color: red;
}

.icon-ok:hover {
	color: green;
}

.icon-ccw:hover {
	color: orange;
}

.icon-docs:hover {
	color: purple;
}

.save {
	display: none;
}

.dirty-child .save {
	display: inline-block;
}

/* loading */

.loading > .contents {
	display: none;
}

.icon-spinner {
	font-size: 64px;
	margin: auto;
	width: 90px;
	margin-top: 20px;
}

.loading > .icon-spinner,
.loading > .animate-spin {
	display: block;
}

.loaded > .icon-spinner,
.loaded > .animate-spin {
	display: none;
}

/* basic layout */

.contents {
	width: 100%;
	height: 100%;
	margin: 20px 0px 20px 0px;
	padding: 10px;
}

/* tabs navigation */

#tabs {
	text-align: center;
}

.tab-navi {
	display: inline-block;
	text-align: center;
}

.tab {
	padding: 10px 15px 10px 15px;
	margin: 10px;
	border: 1px solid #f0f0f0;
	color: black;
}

.tab:hover {
	background-color: #d5fbc2;
}

.tab-active {
	font-color: bold ;
	background-color: #97e470;
}

.tab-active:hover {
	background-color: #97e470;
}

/* tabs contents */

.tab-content {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	border-top: 1px solid #97e470;
	margin-top: 9px;
}

.tab-content-active {
	display: block;
} 

/* tab 1 navigation */

.icon-play,
.tab-playing > .icon-pause {
	display: none;
}
.tab-playing > .icon-play,
.icon-pause {
	display: inline;
}


/* tab 1 contents */ 

.nav-quote {
	position: absolute;
	width: 100%;
	top:0px;
	left: 0px;
}

#previousQuote,
#nextQuote {
	position: absolute;
	width: 40px;
	top: 25px;
}

#previousQuote:hover,
#nextQuote:hover {
	background-color: #d5fbc2;
	border-radius: 20px;
}

#previousQuote {
	left: -5px;
	padding: 10px 0px 9px 7px;
}

#nextQuote {
	right: -5px;
	padding: 10px 0px 9px 10px;
}

#quote {
	position: relative;
	width: 100%;
	padding: 30px 40px 30px 40px;
}

#quote .quote-text {
	font-size: 1.6em;
}

#quote .quote-author {
	font-size: 1.2em;
}

/* tab 2 contents */


#searchText,
#searchLanguages,
#searchKeywords {
	margin: 10px 0px 10px 0px;
}

#searchText {
	width: 100%;
	padding: 10px;
	outline: none;
}

.language input,
.keyword input {
	display: none;
}

.language > label,
.keyword > label {
	float: left;
	padding: 5px 10px 5px 10px;
	margin-right: 5px;
	border-radius: 20px;
}

.language:hover > label,
.keyword:hover > label {
	background-color: #d5fbc2;
}

.language > input:checked ~ label,
.keyword > input:checked ~ label {
	background-color: #97e470;
}

.faded {
	opacity: 0.25;
}

.faded:hover > label {
	background-color: none !important;
}

#stats {
	float: left;
	width: 100%;
}

/* tab 3 contents */

.quote.quote-separator:hover {
	background-color: none;
}

#historyMore {
	margin: 20px;
	margin-left: 50%;
	float: left;
	border-radius: 20px;
	padding: 10px;
}

#historyMore:hover {
	background-color: #d5fbc2;
}

/* headless mode */

.desktop body {
	overflow: hidden;
}

.desktop .nav,
.desktop .tab,
.desktop .tab-content-search {
	visibility: hidden !important;
}

.desktop .quote-keywords {
	display: none;
}

.desktop #quote {
	background-color: rgba(255,255,255,0.2);
	border-radius: 20px;
}

.desktop.darwin #tabs {
	margin-top: 24px; /* compensate for title bar */
}

.desktop .tab-content {
	border-top: none !important;
}

